.top-tire{
    height: 100px;
    padding: 10px;
}
.middle-tire{
    position: relative;
    display: flex;
    height: fit-content;
    justify-content: safe;
}
#main{
    display: none;
}
input{
    font-family: monospace;
    width: 50%;
    font-size: 1.5rem;
    height: 30px;
    margin-left: 25%;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
}
input::placeholder{
    letter-spacing: 2px;
    text-align: center;
}
button{
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.celcius,.foreign{
    position: relative;
    width: 200px;
    height:200px;
    text-align: center;
    font-size: 4rem;
    color: white;
    background-color: hsl(0, 0%, 0%, 80%);
    border-radius: 50%;
    height: fit-content;
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.celcius{
    margin-left: 15%;
}
.foreign{
    margin-right: 15%;
}
sup{
    font-size: 3.5rem;
}
.images{
    width: 100%;
}
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('seasons.jpg') no-repeat center center fixed;
}
.details-loc{
    /* display: none; */
    text-align: center;
    padding-left: 30px;
    font-size: 1.5rem;
    margin: auto;
    width: 32%;
    padding: 10px;
    height: 100%;
    background-color: hsl(0, 100%, 100%, 80%);
    border-radius: 10px;
    /* border: 2px solid black; */
}
.details-loc > p{
    max-width: 100%;
    height: auto;
    color: black;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bolder;
}
.climate{
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px 0px;
    background: url() no-repeat cover;
}
.climate > p{
    width: 520px;
    height: fit-content;
    background-color: hsl(0, 0%, 0%, 50%);
    color: #FFFFFF;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0px;
}
#spin{
    width: 10px;
    height: 30px;
    box-shadow: 2px 1px 2px 1px #000000;
    animation: hello infinite 1s;
}
#load{
    margin-left: 10px;
}
.class-load{
    display: none;
    z-index: 9999;
}
.loading{
    position: fixed;
    display: flex;
    left: 45%;
    top: 40%;
    font-size: 1.5rem;
}
@keyframes hello {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(180deg);
        background-color: black;
        box-shadow: 2px 1px 2px 1px #FFFFFF;
    }
    100%{
        transform: rotateX(360deg);
        background-color: white;
        box-shadow: 2px 1px 2px 1px #000000;
    }
}